.container pre {
    position: relative;
    overflow: auto;
    color: #c8c8c8;
    background-color: #111418;
    margin: 5px 0;
    padding-left: 10px;
    padding-bottom: 0;
    border-radius: 10px;
}

.container pre button {
    font-family: Roboto, serif;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0.25rem;
    background-color: #828282;
    border: ridge 1px #7b7b7c;
    border-radius: 5px;
    text-shadow: #c4c4c4 0 0 2px;
}

.container pre button:hover {
    cursor: pointer;
    background-color: #bcbabb;
}

.container code {
    color: #c8c8c8;
    font-family: "JetBrains Mono", monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
}