#message {
    position: fixed;
    display: block;
    background-color: #e34a4a;
    color: #e6e6e6;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 20px;
    top: -20.5px;
    left: 0;
    font-family: 'Roboto', sans-serif;
    z-index: 999;
    transition: none 0.2s ease 0s;
    overflow: scroll;
}

.inner {
    text-align: center;
    margin: 0;
    padding: 0;
}

.close-btn {
    user-select: none;
    float: right;
    font-size: 90%;
    margin-right: 5px;
    padding: 0;
    width: 18px;
    height: 18px;
}

.close-btn svg {
    margin-top: 1px;
    transition: 0.3s;
    border-radius: 3px;
}