html {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Monument Extended", Arial, Helvetica, sans-serif;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    animation: fadeIn 0.2s normal;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.box {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    top: 0;
    left: 0;
    padding: 5%;
    background: #080f13;
    line-height: 30px;
    font-weight: lighter;
    min-height: 100vh;
    color: #c3c3c3;
    font-size: 110%;
}

.banner {
    background-image: url("banner.jpg");
    height: 300px;
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.banner > div > h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 500%;
    transform: translate(-50%, -50%);
}

.banner div {
    backdrop-filter: blur(3px);
    margin: 0;
    height: 310px;
    background-size: cover;
}