@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Arial', sans-serif;
    user-select: none;
    z-index: 999;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    transition: 0.2s;
    position: fixed;
    width: 100%;
}

li.icon {
    float: left;
}

li.icon a {
    display: block;
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    height: 35px;
    text-decoration: none;
}

li.iconText {
    float: left;
}

li.iconText a {
    display: block;
    color: white;
    font-size: 140%;
    text-align: center;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 12px;
    height: 35px;
    text-decoration: none;
}

li.menu {
    float: right;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    height: 35px;
    text-decoration: none;
    transition: 0.2s;
}

li.menu a:hover {
    background-color: rgba(37, 50, 45, 0.5);
    box-shadow: 0 -3px 0 #58748d inset;
    transition: 0.3s;
}

.container div {
    margin: 20px;
    padding: 10px;
}

.container hr {
    border-top: 3px solid #787878;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 2px;
}

.container h1 {
    color: #c3c3c3;
    font-family: Arial, serif;
    font-size: 250%;
    text-align: center;
    letter-spacing: 3px;
}

.container h2 {
    color: #c3c3c3;
    font-family: Arial, serif;
    font-size: 220%;
    text-align: center;
    letter-spacing: 3px;
}

.container h3 {
    color: #c3c3c3;
    font-family: Arial, serif;
    font-size: 190%;
    text-align: center;
    letter-spacing: 3px;
}

.container h4 {
    color: #c3c3c3;
    font-family: Arial, serif;
    font-size: 170%;
    text-align: center;
    letter-spacing: 3px;
}

.container h5 {
    color: #c3c3c3;
    font-family: Arial, serif;
    font-size: 150%;
    text-align: center;
    letter-spacing: 3px;
}

.container h6 {
    color: #c3c3c3;
    font-family: Arial, serif;
    font-size: 130%;
    text-align: center;
    letter-spacing: 3px;
}

.container code {
    color: #c8c8c8;
    font-family: Courier New, serif;
}

.container a {
    text-decoration: none;
    color: #457d7d;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.container a:link, a:visited {
    color: #58748d;
    text-decoration: none;
}

.container a:hover {
    color: #58748d;
    text-decoration: underline;
}

.container a:active {
    color: #c3c3c3;
    background: #101010;
}

.container p {
    color: #c3c3c3;
    font-family: Helvetica, serif;
    font-size: 100%;
    display: inline;
    text-indent: 100px;
    letter-spacing: 1px;
    line-height: 120%;
}

.container ul {
    list-style-type: circle;
    font-family: Helvetica, serif;
    color: #c3c3c3;
}

.container ol {
    font-family: Helvetica, serif;
    color: #c3c3c3;
}

.container table {
    border: 2px solid #101010;
    font-family: Helvetica, serif;
}

.container th {
    border: 1px solid #101010;
    font-family: Helvetica, serif;
    color: #c3c0c3;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.container td {
    font-family: Helvetica, serif;
    color: #c3c3c3;
    text-align: center;
    padding: 2px;
}

.container input {
    color: #c3c3c3;
    font-family: Helvetica, serif;
    background: #101010;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    height: 20px;
    width: 200px;
}

.container blockquote {
    border: #b1c0ce 2px solid;
    border-left: #b1c0ce 10px double;
    padding: 5px;
    border-radius: 2px 7px 7px 2px;
}

.container mark {
    background-color: #457d7d;
    color: #080f13;
    padding: 2px;
}

.container img {
    border-radius: 10px;
}

.container > .footer {
    margin: 0;
    padding: 0;
}

.container > .footer small {
    color: #686868;
    font-family: Helvetica, serif;
    font-size: 80%;
    display: inline;
    letter-spacing: 1px;
    line-height: 120%;
    user-select: none;
}